<header class="masthead">
  <nav class=language-nav>
    <ul>
      <li><a href="#"><%=Faker::ProgrammingLanguage.name%></a></li>
      <li><a href="#"><%=Faker::ProgrammingLanguage.name%></a></li></li>
      <li><a href="#"><%=Faker::ProgrammingLanguage.name%></a></li></li>
      <li><a href="#"><%=Faker::ProgrammingLanguage.name%></a></li></li>
    </ul>
  </nav>
  <img class="logo" src="assets/AA_Times_Logo.png" alt="App Academy Times">
  <ul class="masthead-links">
      <li>Monday, October 3, <%=Faker::Number.between(2018, 3000)%></li>
      <li><i class="fa fa-newspaper-o"></i> <a href="#">Today's Paper</a></li>
      <li><i class="fa fa-video-camera"></i><a href="#">Video</a></li></li>
      <li><%=Faker::Number.number(2)%> °C</li>
      <li>AA <strong><%=Faker::Number.decimal(2)%></strong></a></li>
  </ul>
</header>
