<header class="topics">
  <ul>
    <li><a href="#"><%=Faker::Address.country%></a></li>
    <li><a href="#"><%=Faker::Address.country%></a></li>
    <li><a href="#"><%=Faker::Address.country%></a></li>
    <li><a href="#"><%=Faker::Address.country%></a></li>
    <li><a href="#"><%=Faker::Address.country%></a></li>
    <li><a href="#"><%=Faker::Address.country%></a></li>
    <li><a href="#"><%=Faker::Address.country%></a></li>
    <li><a href="#"><%=Faker::Address.country%></a></li>
    <li><a href="#"><%=Faker::Address.country%></a></li>
  </ul>
</header>
